@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

.header__image-box {
  width: 100%;
  overflow: hidden;
}

.header__image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

/* History block */
.block__history {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.history__info {
  max-width: 600px;
  width: 100%;
  display: inline-block;
}

.history__title {
  font-weight: 700;
  font-size: 2.25rem;
  margin-top: 20px;
  margin-bottom: 10px;
}

.history__subtitle {
  margin-bottom: 10px;
}

.history__button {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  max-width: 150px;
  text-align: center;
  border-radius: 3px;
}
.history__button:hover {
  color: white;
  background: #ccc;
}

.history__image {
  max-width: 200px;
  max-height: 350px;
  border-radius: 4px;
  margin-top: 20px;
  margin-left: 30px;
}
@media (max-width: 768px) {
  .history__image {
    margin: 0 auto;
  }
}

/* Mission block */
.mission__block {
  max-width: 900px;
  margin: 50px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mission__text {
  margin-left: 20px;
}

.mission__image {
  max-width: 200px;
  max-height: 225px;
  border-radius: 4px;
}
@media (max-width: 768px) {
  .mission__image {
    margin: 0 auto;
  }
}

.container_table {
  margin: 50px auto 0 auto;
  max-width: 900px;
}

.line__blue {
  margin: 90px auto;
  max-width: 500px;
  width: 100%;
  height: 1px;
  background: rgb(1, 1, 255);
}